@model IEnumerable<ProjectModels.Products>;

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
        <div class="card product-item border-0 mb-4">
            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                <img class="img-fluid w-100" src="@Url.Content("~/images/ProductPhoto/" + item.Photo)" alt="@item.Name">
            </div>
            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                <h6 class="text-truncate mb-3">@item.Name</h6>
                <div class="d-flex justify-content-center">
                    <h6>$@item.SellingPrice</h6><h6 class="text-muted ml-2"><del>$@item.OriginalPrice</del></h6>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-light border">
                <a href="" class="btn1 btn-sm p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                <form asp-action="AddToCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="pid" value="@item.Id">
                    <input type="hidden" name="qty" value="1">
                    <button type="submit" class="btn1 btn-sm p-0 add-to-cart-btn" data-pid="@item.Id">
                        <i class="fas fa-shopping-cart text-primary mr-1"></i>
                        Add To Cart
                    </button>
                </form>

            </div>
        </div>
    </div>
}