@model ProjectSoccerClubApp.Models.CombinedModel_HomePage
@{
    ViewData["Title"] = "Home Page";
}

<div class="slide-one-item home-slider owl-carousel">
    @foreach (var item in Model.News){
        <div class="site-blocks-cover overlay" style="background-image: url(@Url.Content("~/images/News/" + item.Logo));" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-start">
                <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
                        <h1 class="bg-text-line">>@item.Title</h1>
                        <p><a href="@Url.Action("News", new { page = item.ID })" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Read More</a></p>
                </div>
            </div>
        </div>
    </div>
    }
   
</div>


<div class="site-section pt-0 feature-blocks-1" data-aos="fade" data-aos-delay="100">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.News)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url(@Url.Content("~/images/News/" + item.Logo));">
                        <div class="text">
                            <h2 class="h5 text-white">@item.Title</h2>
                            <p>@item.Content</p>
                            <p class="mb-0"><a href="@Url.Action("News", new { page = item.ID })" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
                        </div>
                    </div>
                </div>
            }
            
           
        </div>
    </div>
</div>

<div class="site-blocks-vs site-section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h3 text-uppercase text-center text-warning font-weight-bold mb-3">Top 10 Player</h1>
                <div class="site-block-tab">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                            @foreach (var item in Model.Top10Players)
                            {
                                <div class="row align-items-center">
                                    <div class="col-md-12">

                                        <div class="row bg-white align-items-center ml-0 mr-0 py-4 match-entry">
                                            <div class="col-md-3 col-lg-3 mb-3 mb-lg-0">

                                                <div class="text-center text-lg-left">
                                                    <div class="d-block d-lg-flex align-items-center">
                                                        <div class="image image-small text-center mb-3 mb-lg-0 mr-lg-3">
                                                            <img src="@Url.Content("~/images/PlayerImg/" +item.PlayerImg)" width="50" height="50">
                                                        </div>
                                                        <div class="text">
                                                            <span class="text-uppercase small country">Name</span>
                                                            <h3 class="h5 mb-0 text-black"> @Html.DisplayFor(modelItem => item.PlayerName)</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-3 col-lg-3 text-center mb-3 mb-lg-0">

                                                <div class="">
                                                    <div class="d-block d-lg-flex align-items-center">
                                                        <div class="text order-1 w-100">
                                                            <span class="text-uppercase small country">National</span>
                                                            <h3 class="h5 mb-0 text-black">@Html.DisplayFor(modelItem => item.PlayerNationality)</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-3 col-lg-3 text-center mb-3 mb-lg-0">

                                                <div class="">
                                                    <div class="d-block d-lg-flex align-items-center">
                                                        <div class="text order-1 w-100">
                                                            <span class="text-uppercase small country">Position</span>
                                                            <h3 class="h5 mb-0 text-black">@Html.DisplayFor(modelItem => item.PlayerPosition)</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-3 col-lg-3 text-lg-right">

                                                <div class="">
                                                    <div class="d-block d-lg-flex align-items-center">
                                                        <div class="text order-1 w-100">
                                                            <span class="text-uppercase small country">Overall rating</span>
                                                            <h3 class="h5 mb-0 text-black">@Html.DisplayFor(modelItem => item.PlayerOVR)</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section block-13 bg-primary fixed overlay-primary bg-image" style="background-image: url('images/hero_bg_3.jpg');" data-stellar-background-ratio="0.5">

    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <h2 class="text-white">More Game Highlights</h2>
            </div>
        </div>

        <div class="row">
            <div class="nonloop-block-13 owl-carousel">
                <div class="item">
                    <!-- uses .block-12 -->
                    <div class="block-12">
                        <figure>
                            <img src="images/img1.jpg" alt="Image" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="meta">July 21, 2023</span>
                            <div class="text-inner">
                                <h2 class="heading mb-3"><a href="#" class="text-black">Messi First Goal</a></h2>
                                <iframe width="300" height="300" src="https://www.youtube.com/embed/A50eUEnP8oU" title="LIONEL MESSI WINS IT FOR INTER MIAMI IN HIS DEBUT 😱🔥🔥" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="block-12">
                        <figure>
                            <img src="images/img2.jpg" alt="Image" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="meta">August 6, 2023</span>
                            <div class="text-inner">
                                <h2 class="heading mb-3"><a href="#" class="text-black">Hero's goal</a></h2>
                                <iframe width="300" height="300" src="https://www.youtube.com/embed/Qm9y1WQUcJI" title="Top Corner Special: Messi&#39;s Incredible Free Kick Golazo!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="block-12">
                        <figure>
                            <img src="images/img3.jpg" alt="Image" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="meta">August 12, 2023</span>
                            <div class="text-inner">
                                <h2 class="heading mb-3"><a href="#" class="text-black">Going to semifinal</a></h2>
                                <iframe width="300" height="300" src="https://www.youtube.com/embed/uxjJX3XmrZQ" title="Inter Miami vs Charlotte 4-0 Hіghlіghts &amp; All Goals | Leagues Cup 2023 Messi Show Goal 🔥" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="block-12">
                        <figure>
                            <img src="images/img4.jpg" alt="Image" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="meta">August 13, 2023</span>
                            <div class="text-inner">
                                <h2 class="heading mb-3"><a href="#" class="text-black">Training Time</a></h2>
                                <iframe width="300" height="300" src="https://www.youtube.com/embed/JqfU8AXYiq0" title="😍Inter Miami Complete Training Ahead of Orlando City. Messi, Beckham, Alba.." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



