@model IEnumerable<ProjectModels.News>
@{
    ViewBag.Title = "News";

    // Số bài viết mỗi trang
    int newsPerPage = 6;

    // Trang hiện tại (mặc định là trang 1)
    int currentPage = 1;

    // Tính tổng số trang dựa trên số lượng bài viết và số bài viết mỗi trang
    int totalPages = (int)Math.Ceiling((double)Model.Count() / newsPerPage);

    // Lấy danh sách bài viết của trang hiện tại
    var currentNewsPage = Model.Skip((currentPage - 1) * newsPerPage).Take(newsPerPage);
}


<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            @foreach (var newsItem in Model)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="post-entry">
                        <div class="image">
                            <img src="@Url.Content("~/images/News/" + newsItem.Logo)" alt="@newsItem.Title" class="img-fluid image rounded-circle">
                        </div>
                        <div class="text p-4">
                            <h2 class="h5 text-black"><a href="@Url.Action("NewsDetail", new { id = newsItem.ID })">@newsItem.Title</a></h2>
                            <span class="text-uppercase date d-block mb-3"><small>@newsItem.PublishDate</small></span>
                            <p class="mb-0">@newsItem.Content</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        @for (int i = 1; i <= totalPages; i++)
                        {
                            <li class="@(i == currentPage ? "active" : "")"><a href="@Url.Action("News", new { page = i })">@i</a></li>
                        }
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>